<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
	  <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><img src="{{ site.logo }}"></a><h3>{{ site.description }}</h3></li>
    <hr>
      <li><a href="{{ site.baseurl }}/about.html">عن الكاتب</a></li>
    <hr>
    {% if site.posts.size > 0 %}
      <li><h6> المقالات المُميزة </h6></li>
      {% for post in site.posts %}
        {% if post.featured %}
          <!-- for series, make featured value true in only one post/article of the series to avoid replication -->
          {% if post.title.size > 40 %}
            <li class="wrap-text"> <a href="{{ site.baseurl }}{{ post.permalink }}"> {{ post.title }} </a></li>
          {% else %}
            <li> <a href="{{ site.baseurl }}{{ post.permalink }}"> {{ post.title }} </a></li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <hr>
    {% endif %}

    <div id="social-wrapper">
      <li><a href="{{ site.facebook }}"><i class="fa fa-facebook-square" id="fb"></i> Facebook </a></li>
      <li><a href="{{ site.github }}"><i class="fa fa-github-square" id="github"></i> Github </a></li>
    </div>
  </ul>
</div>
